html, body {
    margin: 0;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    background-color:  gainsboro;
    font-size: 1.1em;
}

h1, h2, p, nav{
    padding: 40px 40px 0 40px;
}

h1{
  padding: 80px 40px 0 40px;
	font-size: 2em;
	font-weight: bold;
}

h2{
    font-weight: bold;
}

.nav_links{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}


a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top:20px;
  color: black;
  text-decoration-style: solid;
}

*:focus{
  border: 2px solid black;
}

a:link {
    text-decoration: none;
  }

p a:link{
  text-decoration: underline;
}

li {
    list-style-type: none;
    padding: 5px 0 0 0;
}

a {
    color: black;
  }

/* a:visited{
    black;

} */
.current{
    font-weight: bold;
    text-decoration: underline;
  }


.container{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 40px;
}

.quote{
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
}

img {
    height: 250px;
    display: inline-block;
    padding: 0 10px 10px 0;
    width: 100%;
    height: 100%; 
    object-fit: contain;
  }

.bookcovers{
  padding:40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 15px;
  max-width: 100%;
  justify-items: center;
}

.box-caption {
  position: absolute;
  max-width: 200px;
  word-break: break-word;
  top: 50%;
  bottom: 50%;
  visibility: hidden;
}

.box-caption:hover{
  visibility: visible;
}

.box-flex {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  padding: .5rem;
  text-align: center;
  font-size: 1.2rem;
  word-break: break-word;
  color: #d9d9d9;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: left;
 }

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  grid-template-rows: 200px 200px;
  grid-row-gap: 10px;
  grid-column-gap: 15px;
}

.emoji{
  display:none;
}

.fade-in-image {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

@media screen and (prefers-reduced-motion: reduce){
  #logo {
      animation-duration: 0s;
  }

}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}



@media (min-width: 768px) {

  .index {
    padding: 0px 40px 0 40px;
}


  .bookcovers { 
  grid-template-columns: repeat(4, 1fr); }
  

  .nav_links{
    display:flex;
    flex-direction: column;
  }  

  img:hover, .text:hover{
    opacity: 0.5;
    visibility:visible
  }


  img {
    height: 250px;
    display: inline-block;
    padding: 0 10px 10px 0;
    width:auto;  }

    .emoji{
      display:inline;
    }
    


}

@media (min-width: 1366px) {

  .index {
    padding: 0px 40px 0 40px;
}
  .bookcovers { 
  grid-template-columns: repeat(5, 1fr); }
  


  .nav_links{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
  }
  

  img:hover, .text:hover{
    opacity: 0.5;
    visibility:visible
  }

  img {
    height: 250px;
    display: inline-block;
    padding: 0 10px 10px 0;
    width:auto;  }

    .emoji{
      display:inline;
    }
    


}

